@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

#testResult {
    width: 50px;
    height: 50px;
}

#grade {
    padding: 1em 2em;
}

.two-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
    width: 30%;
    padding: 1em;
}

.two-list ul {
    list-style-type: none;
}

#source, #target {
    border: 1px solid gainsboro;
    width: 40%;
    height: 40%;
}

#move {
    margin: 0 10px;
    width: 80%;
}